root = true
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file

# Baseline
[*]
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4
trim_trailing_whitespace = false
max_line_length = 120

# ReSharper properties
resharper_cpp_keep_user_linebreaks = false
resharper_cpp_max_line_length = 400
resharper_csharp_wrap_before_binary_opsign = true
resharper_wrap_after_dot_in_method_calls = false
resharper_wrap_after_property_in_chained_method_calls = true
resharper_wrap_chained_method_calls = chop_always

# MSBuild
[*.{csproj,proj,projitems,shproj,fsproj,target,props}]
indent_style = space
indent_size = 2

# XML config files
[*.{config,nuspec,resx,natvis}]
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_style = space
indent_size = 4

# YAML files
[*.yaml]
indent_style = space
indent_size = 2
